.container {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    background-color: gray;
    padding: 10px;
}
.container div {
    background-color: lightgray;
    border: 2px solid black;
    padding: 10px;
    margin: 5px;
    font-size: 30px;
    font-family: Georgia;
    text-align: center;
}