* {
    font-family: Verdana;
}
body {
    background-image: url(Flow.jpg);
}
.navbar {
    display: flex;
    border: 2px solid black;
    border-radius: 1rem;
    background-color: gray;
    margin: 1rem;
    align-items: center;
}
.navbar img {
    border: 2px solid black;
    border-radius: 10rem;
    height: auto;
    max-width: 15rem;
    min-width: 10rem;
    margin: 1rem;
}
.navcontent {
    display: flex;
    flex-wrap: wrap;
    border: 2px solid black;
    border-radius: 1rem;
    background-color: lightgray;
    margin: 1rem;
    width: 100%;
}
.navitem {
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.navactive {
    border-radius: 1rem;
    padding: 1rem;
    text-decoration: none;
    background-color: whitesmoke;
    color: black;
}
.navlink {
    border-radius: 1rem;
    padding: 1rem;
    text-decoration: none;
    background-color: lightgray;
    color: black;
}
.etugrid, .tietogrid, .yhteysgrid {
    display: grid;
    grid-template-columns: repeat(12, [col-start] 1fr);
    margin: 1rem;
    background-color: gray;
    border: 2px solid black;
    border-radius: 1rem;
}
.etuhead, .tietohead, .yhteyshead {
    text-align: center;
}
.etuhead, .etuitem, .tietohead, .tietoitem, .yhteyshead, .yhteysitem {
    grid-column: span 12;
    margin: 1rem;
    padding: 1rem;
    border: 2px solid black;
    border-radius: 1rem;
    background-color: lightgray;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 30, 0.7);
}
.sposti {
    color: black;
}
.yhteysitem input {
    width: 13rem;
    margin: 0.2rem;
}
.yformbtn {
    padding: 0.5rem;
}
@media (min-width: 768px) {
    .etuitem, .tietoitem {
        grid-column: span 6;
    }
}
@media (min-width: 1280px) {
    .tietoitem {
        grid-column: span 4;
    }
    .yhteysitem {
        grid-column: span 6;
    }
}